*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.tgz
*.xml
.project
logs
node_modules
npm-debug.log
pids
results
test/sandbox
test
coverage
Requirements
client/bower_components
Dockerfile
startup.bat
startup.sh
.vscode
.git
scripts
.nodered
.brackets.json
.editorconfig
.gitlab-ci.yml
.jshintignore
.jshintrc
.yo-rc.json
